* {
    --light: indianred;
}
body {
    margin: 0%;
    padding: 0%;
}
nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: dimgrey;
    color: var(--light);
}
nav h1 {
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    border-style: groove;
    border-color: seashell;
    background-color: black; 
}
nav a {
    margin-right: 5px;
    font-size: 125%;
    color: seashell;
    background-color: var(--light);
    border-radius: 35%;
    padding: 10px;
    border-style: ridge;
    border-color: seashell;
}
nav a:hover {
    background-color: black;
    color: blueviolet;
}
p {
    display: flex;
    width: clamp(45ch, 50%, 75ch);
    justify-content: center;
}