body {
    margin: 0%;
    padding: 0%;
}
nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: dimgrey;
    color: darkred;
}
nav h1 {
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace; 
}
nav a {
    margin-right: 5px;
    color: seashell;
}
nav a:hover {
    background-color: black;
    color: blueviolet;
}
