* {
    --dark: indianred;
    --light: seashell;
}
body {
    margin: 0%;
    padding: 0%;
    background-color: var(--light);
}
nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: dimgrey;
    color: var(--dark);
}
nav h1 {
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    border-style: groove;
    border-color: var(--light);
    background-color: black;
    padding: .1em;
}
nav a {
    margin-right: 5px;
    font-size: 125%;
    color: var(--light);
    background-color: var(--dark);
    border-radius: 35%;
    padding: 10px;
    border-style: ridge;
    border-color: var(--light);
}
ul a:hover {
    background-color: black;
    color: blueviolet;
}
section {
    margin: 2em;
    padding: .5em;
    width: 100%;
}
section h3 {
   text-align: center;
   color: var(--dark);
   font-size: 150%;
   border-width: 0 0 .1em 0;
   border-color: black;
   border-style: solid; 
}
p {
    text-align: center;
}
section ul {
    padding: 0%;
}
section ul a {
    font-size: 120%;
    color: var(--dark);
    background-color: dimgray;
    border: 8px;
    border-radius: 35%;
    border-style: ridge;
    border-color: black;
    padding: 10px;
    margin: 0 8px 0 8px;
}
footer {
    background-color: dimgray;
}
footer h3 {
    font-family: 'Courier New', Courier, monospace;
    color: var(--dark);
}
.make-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    }